* {
  margin :0;
}

.app {
  background-color: #fafafa;
  
}

.app__postsRight {
  margin-left: 20px;
}

.app__post {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding:10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

fireba

.app__textbottom {
  padding: 20px;
  display: flex;
  justify-content: center;
}